.header {
	padding: 8px 16px;
	margin: 0;
}

.header__head {
	padding: 10px 0;
	margin: 0;

	text-transform: uppercase;
	text-align: center;
}

.header__page {
	text-align: center;
}

.header__navigation {
	margin: 0 auto;
	padding: 10px 0;
}
